<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>旗を買う</title>
  <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>

  <%- include('header'); %>
  
  <% if(locals.isLoggedIn) { %>



<table border="1">
<tr>
  <th>旗の名前</th>
  <th>威力</th>
  <th>値段</th>
</tr>

  <%  hata.forEach((hata1) => { %>
    <tr>
  <td><%= hata1.namae %></td>
  <td><%= hata1.iryoku %></td>
  <td><%= hata1.nedan %></td>

  
  <td>
    <form action="/hata2/<%= hata1.id %>" method="POST">
      <input type="submit" value="買う">
    </form>
  </td>
 
</tr>
<% }) %>

</table>
 




<li><a href="/game">前の画面に戻る</a></li>

    <% } else { %>
<p>ログインされてないので、ログインしてください。</p>
      <a class="btn" href="/login">ログイン</a>
      <% } %>

</div>
</body>
</html>