<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ゲームの説明書</title>
  <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>

  <%- include('header'); %>
  
  <% if(locals.isLoggedIn) { %>
<div class="setumei">
このゲームの目的は、敵を倒したり、パラメータを伸ばしたり、色々成長していきながら、魔王を倒しにいくというものです。<br>
魔王を倒すには、何度も敵と戦って階級を上げたり、お金を使ってパラメータを強化する必要があります。<br>
まずはパラメータを上げたり、農民を雇ってスライムと戦闘してみましょう。大体の流れは理解できると思います。<br>
雇う兵の種類によっては、魔法攻撃ができたり、相性があったりするゲームを目指す方針で作っています。（現在未実装）<br>
スキルの導入も検討中です。慣れてきたら、低ステクリアやRTAなども挑戦していただけると励みになります。<br>
<br>
<br>
</div>

<div class="sute-tasu">
  <%  sute.forEach((sute1) => { %>
  <div>攻撃力:<%= sute1.kougekiryoku %></div>
  <div>防御力:<%= sute1.bougyoryoku %></div>
  <div>魔法攻撃力:<%= sute1.mahoukougeki %></div>
  <div>魔法防御力:<%= sute1.mahoubougyo %></div>
  <div>←自分の現在のステータスです。</div>
</div>

<div class="sute-tasu">
  <div>所持金:<%= sute1.syozikin %>
  <span>
  ←所持金は、ステータスを上げたり兵を雇う時に必要になります。
  </span>
  </div>
  <div>米:<%= sute1.kome %></div>
    <span>
  ←お米は魔法攻撃をする時に消費するMPのようなものです。
  </span>
</div>

<div class="sute-tasu">
<div class="supe-su">武器の名前:<%= sute1.bukinonamae %></div>
  <div class="supe-su">武器の攻撃力:<%= sute1.buki %></div>
  <div class="supe-su">防具の名前:<%= sute1.bougunonamae %></div>
  <div>防具の防御力:<%= sute1.bougu %></div>
</div>
<div class="sute-tasu">
  <div class="supe-su">書物の名前:<%= sute1.syomotunonamae %></div>
  <div>書物の魔法攻撃力:<%= sute1.syomotu %></div>
  <div class="supe-su">旗の名前:<%= sute1.hatanonamae %></div>
  <div>旗の魔法防御力:<%= sute1.hata %></div>
</div>

<div class="sute-tasu">
  <div>兵の名前:<%= sute1.heisyu %>
    <span>
 ←扱う兵によってステータスが変わったり魔法攻撃か、物理攻撃かも変化します。
  </span>
  </div>
  <div>兵数:<%= sute1.heisuu %>
    <span>
 ←兵の人数です。これが０になると敗北します。同時に０になった場合は勝利します。
  </span>
  </div>
  <div>階級:<%= sute1.kaikyuu %>
    <span>
 ←階級が上がると、使える兵種が増えたり強力な装備を購入する事ができます。敵を倒すと階級が上がります。
  </span>
  </div>
</div>

<% }) %>

    <% } else { %>
<p>ログインされてないので、ログインしてください。</p>
      <a class="btn" href="/login">ログイン</a>
      <% } %>

</div>
</body>
</html>